<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ХАКАТОНЫ</title>
	<!--styles-->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<!--script-->
	<script type="text/javascript" src="assets/js/script.js"></script>
	<!--bootstrap-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<header class="w-100 position-absolute">
		<div class="container h-100 d-flex justify-content-between align-items-center">
			<div class="header__logo">
				<h1>FAR CODE</h1>
			</div>
			<div class="header__menu">
				<div onclick="open_menu();">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<div class="container menu position-relative">
			<div id="btnMenu">
				<nav><a href="#concept">О концепции</a></nav>
				<nav><a href="#cases">Кейсы</a></nav>
				<nav><a href="#">Ключевые даты</a></nav>
				<nav><a href="#">Вопросы и ответы</a></nav>
			</div>
		</div>
	</header>

	<div class="w-100 dark-bg minh-100vh">
		<div class="container minh-100vh hello flex-column flex-lg-row" id="hello">
			<div class="hello__left col-lg-6">
				<h1 class="gradient-text">FAR CODE</h1>
				<h4>ХАКАТОН ЦИФРОВЫХ ПРОФЕССИЙ</h4>
				<p>23-24 сентября 2022</p>
				<a class="btn-1" href="#cases">Выбрать кейс</a>
			</div>
			<div class="hello__right col-lg-6">
				<img src="assets/img/hello.png">
			</div>
		</div>
	</div>

	<div class="w-100">
		<div class="container p-50-0 benefits">
			<div class="benefits__card col-6 col-lg-3">
				<div class="benefits__wrapper">
					<div><img src="assets/img/task.png" alt="NotFound"></div>
					<p>Реальные задачи от бизнеса</p>
				</div>
			</div>
			<div class="benefits__card col-6 col-lg-3">
				<div class="benefits__wrapper">
					<div><img src="assets/img/hand.png" alt="NotFound"></div>
					<p>Возможность найти стажировку или работу</p>
				</div>
			</div>
			<div class="benefits__card col-6 col-lg-3">
				<div class="benefits__wrapper">
					<div><img src="assets/img/prize.png" alt="NotFound"></div>
					<p>Призы от партнеров хакатона</p>
				</div>
			</div>
			<div class="benefits__card col-6 col-lg-3">
				<div class="benefits__wrapper">
					<div><img src="assets/img/dating.png" alt="NotFound"></div>
					<p>Атмосфера IT-культуры и новые знакомства</p>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100 dark-bg" id="concept">
		<div class="container p-50-0">
			<div class="col-12">
				<h1 class="gradient-text title">О концепции Хакатона FAR CODE</h1>
			</div>
			<div class="concept">
				<div class="col-12 col-lg-6 concept__text">
					<p>
						Приглашаем вас прокачать свои скилы <span class="gradient-span">по кейсам Web-разработки!</span> Участие в хакатоне полностью БЕСПЛАТНОЕ!
					</p>
					<p>
						Вы сможете применить свои навыки в дизайне, верстке и разработке web-приложений. Для этого, <span class="gradient-span">надо сделать первый шаг</span> – изучить кейсы и зарегистрироваться на понравившийся кейс!
					</p>
				</div>
				<div class="col-0 col-lg-6 concept__img">
					<img src="assets/img/woman.png" alt="NotFound">
				</div>
			</div>
			<div class="concept">
				<div class="col-0 col-lg-6 concept__img">
					<img src="assets/img/man.png" alt="NotFound">
				</div>
				<div class="col-12 col-lg-6 concept__text">
					<p>
						Хакатон позволит вам получить крутой опыт командной разработки, новые и полезные знакомсва, а также шанс попасть на стажировку или работу в IT-компанию или в IT-подразделение крупной корпорации.
					</p>
					<p>
						Попробуйте стать частью IT-сообщества вместе с Хакатоном FAR CODE
					</p>
					<a href="" class="btn-2">Задать вопрос об участии</a>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100" id="cases">
		<div class="container p-50-0">
			<div class="col-12">
				<h1 class="gradient-text title">Кейсы Хакатона</h1>
			</div>
			<div class="cases">
				<div class="cases__card col-12 col-sm-6 col-lg-4">
					<div class="case">
						<div class="case__img">
							<img src="assets/img/optiacs.png" alt="Логотип кейса / партнера">
						</div>
						<h2 class="case__title">
							Кейс ООО «ОПТИАКС»
						</h2>
						<p class="case__description">
							Программные интерфейсы для бизнес-приложений диалоговых систем
						</p>
						<div href="" class="case__btn">
							<a href="" class="btn-2">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="cases__card col-12 col-sm-6 col-lg-4">
					<div class="case">
						<div class="case__img">
							<img src="assets/img/digital.png" alt="Логотип кейса / партнера">
						</div>
						<h2 class="case__title">
							Кейс ООО «ДИДЖИТАЛ ЛАЙФ»
						</h2>
						<p class="case__description">
							Поисковый индекс проектной документации
						</p>
						<div href="" class="case__btn">
							<a href="" class="btn-2">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="cases__card col-12 col-sm-6 col-lg-4">
					<div class="case">
						<div class="case__img">
							<img src="assets/img/fogstream.png" alt="Логотип кейса / партнера">
						</div>
						<h2 class="case__title">
							Кейс ООО «ФОГСТРИМ»
						</h2>
						<p class="case__description">
							Разработка системы оценки цифровых навыков сотудников орагнизаций
						</p>
						<div href="" class="case__btn">
							<a href="" class="btn-2">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="cases__card col-12 col-sm-6 col-lg-4">
					<div class="case">
						<div class="case__img">
							<img src="" alt="Логотип кейса / партнера">
						</div>
						<h2 class="case__title">
							Кейс ООО «Участник 4»
						</h2>
						<p class="case__description">
							Наименование кейса 4
						</p>
						<div href="" class="case__btn">
							<a href="" class="btn-2">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="cases__card col-12 col-sm-6 col-lg-4">
					<div class="case">
						<div class="case__img">
							<img src="" alt="Логотип кейса / партнера">
						</div>
						<h2 class="case__title">
							Кейс ООО «Участник 5»
						</h2>
						<p class="case__description">
							Наименование кейса 5
						</p>
						<div href="" class="case__btn">
							<a href="" class="btn-2">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="cases__card col-12 col-sm-6 col-lg-4">
					<div class="case">
						<div class="case__img">
							<img src="" alt="Логотип кейса / партнера">
						</div>
						<h2 class="case__title">
							Кейс ООО «Участник 6»
						</h2>
						<p class="case__description">
							Наименование кейса 6
						</p>
						<div href="" class="case__btn">
							<a href="" class="btn-2">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100 dark-bg">
		<div class="container p-50-0 benefits participation">
			<div class="col-12">
				<h1 class="gradient-text title">Как принять участие в хакатоне?</h1>
			</div>

			<div class="benefits__card col-12 col-lg-6">
				<div class="benefits__wrapper">
					<div class="participation__number"><h2>1</h2></div>
					<p>Изучите кейсы через кнопки Подробнее о каждом кейсе</p>
				</div>
			</div>
			<div class="benefits__card col-12 col-lg-6">
				<div class="benefits__wrapper">
					<div class="participation__number"><h2>2</h2></div>
					<p>Регистрируйтесь на понравившийся кейс</p>
				</div>
			</div>
			<div class="benefits__card col-12 col-lg-6">
				<div class="benefits__wrapper">
					<div class="participation__number"><h2>3</h2></div>
					<p>Перед хакатоном будет укомплектована команда по навыкам</p>
				</div>
			</div>
			<div class="benefits__card col-12 col-lg-6 ">
				<div class="benefits__wrapper">
					<div class="participation__number"><h2>4</h2></div>
					<p>Решаете кейс в дни проведения хакатона вместе со своей комндой</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
