@font-face {
	font-family: 'ALS Hauss';
	src: url(../fonts/hauss.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'ALS Hauss';
	src: url(../fonts/ALSHauss-Black.ttf);
	font-weight: 900;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'ALS Hauss';
}

html {
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0 !important;
	padding: 0 !important;
}

h1 {
	font-weight: 900 !important;
}

body {
	background-color: #161b22 !important;
	color: #fff !important;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: #161b22;
}

body::-webkit-scrollbar-thumb {
	background-color: #3b4149;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #48576a;
}

body::-webkit-scrollbar-thumb:active {
	background-color: #758191;
}

/* header */

header {
	height: 80px;
	background-color: #161b22;
}

.header__logo h1 {
	font-size: 30px;
	font-weight: 850;
	user-select: none;
}

.header__menu div {
	height: 25px;
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.header__menu div:hover {
	filter: brightness(.7);
}

.header__menu span {
	width: 100%;
	height: 3px;
	background-color: #fff;
}

.menu {
	display: none;
	justify-content: flex-end;
	z-index: 20;
}

.menu div {
	background-color: #3b4149;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	padding: 20px 0;
}

.menu nav {
	width: 100%;
	font-size: 30px;
	width: 100%;
}

.menu nav:hover {
	background-color: #7063ff;
	transition: all .3s ease-in-out;
}

.menu a {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 0 20px;
}

.menu a:hover {
	color: #eaeaea;
	text-decoration: none;
}

/* hello */

.hello {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0 20px 0 !important;
}

.hello div {
	height: auto;
}

.hello__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.hello__left h1 {
	font-size: 100px;
}

.hello__left h4 {
	font-size: 40px;
}

.hello__left p {
	font-size: 30px;
}

.hello__right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hello__right img {
	width: 100%;
	height: auto;
}

/* benefits */

.benefits {
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px !important;
}

.benefits__card {
	height: 160px;
	text-align: center;
}

.benefits__wrapper {
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: #2f343b;
}

.benefits__wrapper div {
	background-color: #fff;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	top: -70px;
	position: relative;
}

.benefits__wrapper p {
	position: relative;
	top: -50px;
}

.benefits__wrapper img {
	width: 60%;
	height: auto;
}

/* concept */

.concept {
	display: flex;
	padding: 50px 0 0 0;
	flex-wrap: wrap;
}

.concept__text p {
	padding: 20px 0 !important;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(90deg, #a563ff, #6760ff);
	-moz-border-image: -moz-linear-gradient(90deg, #a563ff, #6760ff);
	-webkit-border-image: -webkit-linear-gradient(90deg, #a563ff, #6760ff);
	border-image-slice: 1;
}

.concept__text a {
	margin-top: 20px;
}

.concept img {
	width: 100%;
	height: auto;
}

/* cases */

.cases {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}

.cases__card {
	margin-top: 30px;
}

.cases__card:nth-child(1),
.cases__card:nth-child(2),
.cases__card:nth-child(3) {
	margin-top: 0;
}

.case {
	width: 100%;
	min-height: 400px;
	background-color: #2f343b;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

.case__img {
	width: 100%;
	height: 170px;
	background-color: #fff;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.case__img img {
	width: 80%;
	height: auto;
	color: black;
    line-height: 170px;
    text-align: center;
}

.case__title {
	font-size: 25px;
	padding: 0 10px !important;
	margin-bottom: 10px !important;
}

.case__description {
	padding: 0 10px !important;
	flex-grow: 1;
	margin-bottom: 10px !important;
}

.case__btn {
	padding: 0 10px !important;
}

.case__btn a {
	padding: 0;
	width: 100%;
}

/* global */

.title {
	font-size: 50px !important;
	text-align: center;
}

.dark-bg {
	background-color: #0d1117 !important;
}

.minh-100vh {
	min-height: 100vh !important;
	height: auto;
}

.gradient-text {
	background: linear-gradient(90deg, #a563ff, #6760ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-span {
	background: linear-gradient(90deg, #a563ff, #6760ff);
	padding: 0 3px;
	border-radius: 5px;
}

.btn-1 {
	padding: 10px 90px;
	background: linear-gradient(90deg, #a563ff, #6760ff);
	color: #fff;
	font-size: 30px;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.btn-2 {
	padding: 10px 15px;
	background: linear-gradient(90deg, #a563ff, #6760ff);
	color: #fff;
	font-size: 24px;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.btn-1:hover,
.btn-2:hover {
	color: #fff;
	text-decoration: none;
	filter: brightness(.7);
}

.p-50-0 {
	padding: 50px 0;
}

/* media */

@media (max-width: 1200px) {
	.hello__left h1 {
		line-height: 95px;
	}
}

@media (max-width: 991px) {
	.hello {
		gap: 30px;
		padding: 130px 0 50px 0!important;
	}

	.hello__left {
		text-align: center;
		align-items: center;
	}

	.btn-1 {
		padding: 10px 50px;
	}

	.btn-1,
	.btn-2 {
		text-align: center;
		font-size: 20px;
	}

	.benefits__card:nth-child(3),
	.benefits__card:nth-child(4) {
		margin-top: 80px;
	}

	.title {
		font-size: 40px !important;
	}

	.concept__img {
		display: none;
	}

	.concept:last-child {
		padding: 0;
	}

	.concept__text a {
		width: 100%;
	}

	.cases__card:nth-child(3) {
		margin-top: 30px;
	}
}

@media (max-width: 575px) {
	.cases__card:nth-child(2) {
		margin-top: 30px;
	}
}

@media (max-width: 460px) {
	.benefits__wrapper {
		height: calc(100% + 30px);
	}

	.benefits__card:nth-child(3),
	.benefits__card:nth-child(4) {
		margin-top: 110px;
	}
}
